<div class="topnav">
    <a href="#Home" class="active">Home</a>
    <a href="https://github.com/dan-jugz?tab=repositories"></a>
</div>


    <div class="container-fluid">
        <div class="row">
        <form>
            <div class="form-group">
                <input type="text" name="searchUser" [(ngModel)]="searchUsers" placeholder="Search" id="search">
                <button type="submit" (click)="githubSearch()" class="btn btn-sm btn-info">Search user</button>
            </div>
        </form>
        </div>
    </div>


<div *ngIf="_user">
    <img src="{{_user.avatar_url}}" alt="user image">
    <h5>
        Username;
        {{_user.name}}
    </h5>
    
    <h6>
        Repositories;
        {{_user.public_repos}}
    </h6>
<strong>
    <h5>
        Followers:{{_user.followers}}
        Following:{{_user.following}}
    </h5>
</strong>
<strong>
        <p>
           View users online repositories
            {{_user.repos_url}}
        </p>
</strong>
</div>