body{
    background-image: url("./assets//Git.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    color: whitesmoke!important;
}